:root {
  --navigation-text-color: #2b2b2b;
  --navigation-background: #f8f8f7;

  --drawer-transition-timing: cubic-bezier(0.645, 0.045, 0.355, 1);

  --border-color: #e1e1db;
  --navigation-border-color: rgba(43, 43, 43, 0.25);

  --button-background: #605f5d;
  --text-color-light: #545454;
  --text-color-light-rgb: 84, 84, 84;

  --navigation-text-color-light: rgba(43, 43, 43, 0.5);
}

/**
 * ----------------------------------------------------------------------------
 * Collapsible
 * ----------------------------------------------------------------------------
 */
.Collapsible {
  overflow: hidden;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.Collapsible + .Collapsible {
  border-top: none;
}

.SidebarMenu__Nav .Collapsible:first-child {
  border-top: none;
}

.Collapsible__Button {
  position: relative;
  display: block;
  width: 100%;
  padding: 20px 0;
  text-align: left;
  cursor: pointer;
}

.Collapsible__Plus {
  position: absolute;
  top: calc(50% - (11px / 2));
  right: 0;
  width: 11px;
  height: 11px;
}

.Collapsible__Plus::before,
.Collapsible__Plus::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  background-color: currentColor;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.Collapsible__Plus::before {
  width: 11px;
  height: 1px;
  opacity: 1;
}

.Collapsible__Plus::after {
  width: 1px;
  height: 11px;
}

.Collapsible__Button[aria-expanded="true"] .Collapsible__Plus::before,
.Collapsible__Button[aria-expanded="true"] .Collapsible__Plus::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.Collapsible__Button[aria-expanded="true"] .Collapsible__Plus::before {
  opacity: 0;
}

.Collapsible .Collapsible {
  margin-left: 16px;
  border: none;
}

.Collapsible__Content {
  padding-bottom: 18px;
}

/**
 * ----------------------------------------------------------------------------
 * Base drawer
 * ----------------------------------------------------------------------------
 */

.Drawer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: calc(100vw - 65px); /* Interestingly, 100% does not work on iOS 9 and lower */
  height: 100vh;
  max-height: none;
  touch-action: manipulation; /* Animating box-shadow is slow, even on modern browsers, so we instead move it in a pseudo-element and animate opacity */
  visibility: hidden;
  background: var(--background);
  box-shadow: none;
  transition: transform 0.5s var(--drawer-transition-timing), visibility 0.5s var(--drawer-transition-timing);
}

.Drawer[aria-hidden="false"] {
  visibility: visible;
  transform: translateX(0);
}

.Drawer--fromLeft {
  transform: translateX(calc(-100vw + 65px));
}

@media screen and (min-width: 641px) {
  .Drawer {
    width: 400px;
    transform: translateX(-100%);
  }
}

.SidebarMenu {
  height: 100%;
  color: var(--navigation-text-color);
  background: var(--navigation-background);
}

.Icon-Wrapper--clickable {
  position: relative;
  background: transparent; /* This is used to increase the clickable area */
}

.Drawer__Container {
  width: 100%;
}

.Drawer--fromLeft .Drawer__Container {
  padding-right: 24px;
  padding-left: 18px;
}

.Drawer__Header {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 50px;
  max-height: 60px;
  text-align: center;
  background: inherit;
}

@supports (--css: variables) {
  .Drawer__Header {
    height: var(--header-height);
  }
}

.Drawer__Close {
  position: absolute;
  top: calc(50% - 7px);
  left: 18px;
  margin-left: 0;
  line-height: 0;
  color: black;
}

.Drawer__Close svg {
  // 修正点　inline-blockにしないとサイズが効かない
  //   display: inline-block;

  width: 15px;
  height: 15px;
  stroke-width: 1.25px;

  color: black;
}

.Drawer__Close {
  left: 30px;
}

.Drawer__Content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
  max-height: calc(
    100% - 50px
  ); /* This handles an edge case when the header is much bigger than the maximum size for content, but this only works on Safari as of today */
  overflow: hidden;
}

@supports (--css: variables) {
  .Drawer__Content {
    height: calc(100% - var(--header-height));
    max-height: calc(100% - var(--header-height));
  }
}

@supports (width: calc(max(100%))) {
  .Drawer__Content {
    height: max(calc(100% - var(--header-height)), calc(100% - 60px));
    max-height: max(calc(100% - var(--header-height)), calc(100% - 60px));
  }
}

.Drawer__Main {
  flex: 1 1 auto;
}

.Drawer--small {
  width: 340px;
}

.Drawer__Search {
  position: absolute;
  top: calc(50% - 7px);
  right: 30px;
  width: 15px;
  height: 15px;
  margin-right: 0;
  line-height: 0;
}

.SidebarMenu .Drawer__Content::before,
.SidebarMenu .Drawer__Footer::before {
  position: absolute;
  z-index: 1;
  width: 100%;
  pointer-events: none;
  content: "";
}
.SidebarMenu .Drawer__Content::before {
  top: 0;
  height: 25px;
  background-image: linear-gradient(var(--navigation-background), rgba(var(--navigation-background-rgb), 0.6) 40%, rgba(var(--navigation-background-rgb), 0));
}

.SidebarMenu .Heading,
.supports-hover .SidebarMenu .Link--primary:hover {
  color: var(--navigation-text-color);
}

.SidebarMenu .Collapsible,
.SidebarMenu .Linklist {
  border-color: var(--navigation-border-color);
}
