:root {
  --window-height: 0;
  --header-height: 0;
  --header-is-not-transparent: 0;
  --announcement-bar-height: 0px;
  --header-margin-bottom: 0px;

  --header-background: #ffffff;
}

.flickity-enabled.is-draggable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.features--heading-normal .u-h6,
.features--heading-normal .Rte h6 {
  font-size: 13px;
}
/**
 * ----------------------------------------------------------------------------------------------
 * Flickity styles 2012
 * ----------------------------------------------------------------------------------------------
 */
.flickity-enabled.is-draggable .flickity-viewport {
  cursor: -webkit-grab;
  cursor: grab;
}
.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.flickity-enabled {
  position: relative;
}

.flickity-viewport {
  position: relative;
  height: auto;
  overflow: hidden;
}
.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* draggable */
.flickity-enabled {
  -webkit-tap-highlight-color: transparent;
}
/* ---- page dots ---- */
.flickity-page-dots {
  width: 100%;
  padding: 0;
  margin: 22px 0 0 0;
  text-align: center;
  list-style: none;
}
.js .Carousel--fadeIn .flickity-slider {
  transform: none !important;
}
/**
 * ----------------------------------------------------------------------------------------------
 * Default styling for site-wide carousel 2121
 * ----------------------------------------------------------------------------------------------
 */

.Carousel--fixed,
.Carousel--fixed .flickity-viewport,
.Carousel--fixed .Carousel__Cell {
  height: 100%;
}
.Carousel__Cell {
  display: block;
  width: 100%;
}
.Carousel--insideDots .flickity-page-dots {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: auto;
  margin: 0;
}
.js .Carousel--fadeIn .Carousel__Cell {
  left: 0 !important;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.js .Carousel--fadeIn .Carousel__Cell.is-selected {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.js .Carousel--fadeIn .Carousel__Cell.is-selected {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.Carousel--insideDots .flickity-page-dots .flickity-page-dot {
  border-color: currentColor;
}
// default制御のままのスタイル
.Carousel--insideDots .flickity-page-dots .dot {
  border-color: currentColor;
}
.flickity-page-dots .dot.is-selected {
  background: currentColor;
  border-color: currentColor;
}
// default制御のままのスタイル
.flickity-page-dots .flickity-page-dot.is-selected {
  background: currentColor;
  border-color: currentColor;
}

.Carousel--insideDots .flickity-page-dots .dot.is-selected {
  background: currentColor;
}
// default制御のままのスタイル
.Carousel--insideDots .flickity-page-dots .flickity-page-dot.is-selected {
  background: currentColor;
}
.flickity-page-dots .dot {
  position: relative;
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 0 6px;
  cursor: pointer;
  background: transparent;
  // colorの設定はjs制御ができるまでの一時的な対応
  //   border: 1px solid var(--border-color);
  border: 1px solid #ffffff;
  border-radius: 50%;
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out; /* This is used to increase the clickable area */
}
// default制御のままのスタイル
.flickity-page-dots .flickity-page-dot {
  position: relative;
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 0 6px;
  cursor: pointer;
  background: transparent;
  // colorの設定はjs制御ができるまでの一時的な対応
  //   border: 1px solid var(--border-color);
  border: 1px solid #ffffff;
  border-radius: 50%;
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out; /* This is used to increase the clickable area */
}
// 応急対応　jsClassが付与されるまでの一時的な対応
.flickity-page-dots {
  color: #ffffff;
}

/* .Carousel {
  position: relative;
} */

/**
 * ----------------------------------------------------------------------------
 * Anchor 3911
 * ----------------------------------------------------------------------------
 */
.Anchor {
  position: relative;
  top: -75px;
  display: block;
  visibility: hidden;
}
@supports (--css: variables) {
  .Anchor {
    top: calc(-1 * (var(--header-height))); /* + var(--announcement-bar-height)));*/
  }
}

/**
   * ----------------------------------------------------------------------------
   * Loading bar 3929
   * ----------------------------------------------------------------------------
   */

/**
 * ----------------------------------------------------------------------------
 * POLICY PAGES 5625
 * ----------------------------------------------------------------------------
 */
.SectionHeader__Heading.SectionHeader__Heading,
.SectionHeader__SubHeading.SectionHeader__SubHeading {
  margin-top: -0.325em;
}
/**
 * ----------------------------------------------------------------------------------------------
 * Default styling for site-wide carousel
 * ----------------------------------------------------------------------------------------------
 */
.Carousel {
  position: relative;
}

.Carousel--fixed,
.Carousel--fixed .flickity-viewport,
.Carousel--fixed .Carousel__Cell {
  height: 100%;
}

.Slideshow--fullscreen .Slideshow__Image {
  display: block;
  width: 100%;
  height: 100%;
  font-family: "object-fit: cover; object-position: center;";
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  /* polyfill for IE */
}
.Slideshow__Image {
  z-index: 0;
}

/**
 * ----------------------------------------------------------------------------
 * Slideshow 10901
 * ----------------------------------------------------------------------------
 */
.Slideshow--fullscreen {
  height: 100vh;
}

@supports (--css: variables) {
  .js .Slideshow--fullscreen {
    height: calc(var(--window-height) - (var(--header-height) * 0) - 0px);
    height: calc(var(--window-height) - (var(--header-height) * var(--header-is-not-transparent, 0)) - var(--announcement-bar-height, 0px));
    max-height: 100vh;
  }
}

// js制御ができるまでの一時的な対応
@supports ((-o-object-fit: cover) or (object-fit: cover)) {
  .js .Slideshow__Image {
    // opacity: 0;
    opacity: 1;
  }
}
.js .Slideshow__Carousel .Slideshow__Slide.is-selected {
  visibility: hidden;
}
// ここを追加、js制御ができるまでの一時的な対応
.js .Slideshow__Carousel .Slideshow__Slide.is-selected {
  visibility: inherit;
  position: absolute;
  left: 0%;
  opacity: 1;
}
.js .Slideshow__Carousel .Slideshow__Slide {
  transition: none;
}
.Slideshow__ImageContainer {
  height: 100%;
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: linear-gradient(to right, rgba(4, 4, 4, 0.5) 0%, rgba(54, 54, 54, 0) 50%, rgba(4, 4, 4, 0.5) 100%),
      linear-gradient(to bottom, rgba(4, 4, 4, 0.5) 0%, rgba(54, 54, 54, 0) 50%, rgba(4, 4, 4, 0.5) 100%);
  }
}

.Slideshow__Content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 0 24px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.Slideshow__Content--middleLeft,
.Slideshow__Content--bottomLeft {
  text-align: left;
}

.Slideshow__Content--bottomLeft,
.Slideshow__Content--bottomCenter,
.Slideshow__Content--bottomRight {
  top: auto;
  bottom: 70px;
  left: 0;
  transform: none;
}
// js制御ができるまでの一時的な対応
.js .Slideshow__Content .SectionHeader {
  opacity: 0;
  // opacity: 1;
}

// js制御ができるまでの一時的な対応
.Heading {
  color: #ffffff;
}

.Slideshow__Content--middleLeft .ButtonGroup,
.Slideshow__Content--bottomLeft .ButtonGroup {
  justify-content: flex-start;
}

// idクラスと連動している。js制御ができるまでの一時的な対応
.Button {
  color: #363636;
  border-color: #ffffff;
}
// idクラスと連動している。js制御ができるまでの一時的な対応
.Button::before {
  background-color: #ffffff;
}

.SectionHeader {
  transform: translateY(20px);
  transition: transform 1s ease-out;
}
