@charset "utf-8";
@import "debug";
@import "slider";
@import "../node_modules/normalize.css";
/**
 * ----------------------------------------------------------------------------------------------
 * This is a variation of Normalize.css (http://necolas.github.io/normalize.css/)
 * ----------------------------------------------------------------------------------------------
 */
/**
 * Base
 */
*,
*:before,
*:after {
  box-sizing: border-box !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#canvas {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  background-color: gray;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Forms
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

button,
input[type="submit"] {
  padding: 0;
  overflow: visible;
  background: none;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
}

button,
select {
  text-transform: none;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-size: inherit;
  font-weight: inherit;
}

:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
.Heading {
  font-family: var(--heading-font-family);
  font-style: var(--heading-font-style);
  font-weight: var(--heading-font-weight);
  // color: var(--heading-color);
  color: white;
  transition: color 0.2s ease-in-out;
}
.features--heading-uppercase .Heading {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.features--heading-normal .u-h1,
.features--heading-normal .Rte h1 {
  font-size: 22px;
}

/*------------------------------------*\
    Grid WIDTHS 371
\*------------------------------------*/

.Icon-Wrapper--clickable {
  position: relative;
  background: transparent; /* This is used to increase the clickable area */
}

.Icon-Wrapper--clickable::before {
  position: absolute;
  top: -8px;
  right: -12px;
  bottom: -8px;
  left: -12px;
  content: "";
  transform: translateZ(0); /* Needed to avoid a glitch on iOS */
}

.Icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  pointer-events: none;
  background: none;
  fill: currentColor;
  stroke-width: 1px;
}

@media screen and (max-width: 640px) {
  .hidden-phone {
    display: none !important;
  }

  .\31\/2--phone,
  .\32\/4--phone,
  .\36\/12--phone {
    width: 50%;
  }

  .\31\/3--phone,
  .\34\/12--phone {
    width: 33.33333%;
  }

  .\32\/3--phone,
  .\38\/12--phone {
    width: 66.66667%;
  }

  .\31\/4--phone,
  .\33\/12--phone {
    width: 25%;
  }

  .\33\/4--phone,
  .\39\/12--phone {
    width: 75%;
  }

  .\31\/12--phone {
    width: 8.33333%;
  }

  .\32\/12--phone {
    width: 16.66667%;
  }

  .\35\/12--phone {
    width: 41.66667%;
  }

  .\37\/12--phone {
    width: 58.33333%;
  }

  .\31\30\/12--phone {
    width: 83.33333%;
  }

  .\31\31\/12--phone {
    width: 91.66667%;
  }
}

/**
 * ----------------------------------------------------------------------------
 * Standard button 1500
 * ----------------------------------------------------------------------------
 */
.Button,
.shopify-payment-button__button--unbranded,
input.spr-button-primary,
.spr-summary-actions-newreview,
.spr-button-primary:not(input),
.spr-pagination-prev > a,
.spr-pagination-next > a {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 14px 28px;
  font-family: var(--heading-font-family);
  font-size: calc(var(--base-text-font-size) - (var(--default-text-font-size) - 12px));
  font-style: var(--heading-font-style);
  font-weight: var(--heading-font-weight);
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0;
  transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-tap-highlight-color: initial;
}
.Button::before,
.shopify-payment-button__button--unbranded::before,
input.spr-button-primary::before,
.spr-summary-actions-newreview.spr-summary-actions-newreview::before,
.spr-button-primary:not(input)::before,
.spr-pagination-prev > a::before,
.spr-pagination-next > a::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  transform: scale(1, 1);
  transform-origin: left center;
}

/**
 * ----------------------------------------------------------------------------
 * Button group 1696
 * ----------------------------------------------------------------------------
 */
.ButtonGroup {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: -12px;
}

.ButtonGroup--spacingSmall {
  margin: -8px;
}

.ButtonGroup--spacingSmall .ButtonGroup__Item {
  margin: 8px;
}

.ButtonGroup__Item {
  margin: 12px;
}

/**
 * ----------------------------------------------------------------------------
 * Announcement bar 4367
 * ----------------------------------------------------------------------------
 */

.AnnouncementBar {
  position: relative;
  z-index: 1;
  font-size: calc(var(--base-text-font-size) - (var(--default-text-font-size) - 10px));
  text-align: center;
}

.AnnouncementBar__Wrapper {
  padding: 12px 15px;
}

.AnnouncementBar__Content {
  margin: 0;
  color: inherit;
}

@media screen and (min-width: 641px) {
  .AnnouncementBar {
    font-size: calc(var(--base-text-font-size) - (var(--default-text-font-size) - 11px));
  }
}

/**
 * ----------------------------------------------------------------------------
 * Share buttons
 * ----------------------------------------------------------------------------
 */

/**
 * ----------------------------------------------------------------------------
 * POLICY PAGES 5625
 * ----------------------------------------------------------------------------
 */
.SectionHeader__ButtonWrapper {
  margin-top: 20px;
}

/**
* ----------------------------------------------------------------------------------------------
* Main header 8073
* ----------------------------------------------------------------------------------------------
*/

// .supports-sticky .Search[aria-hidden="true"] + .Header--transparent .Header__Icon svg {
//   filter: drop-shadow(0 1px rgba(0, 0, 0, 0.25));
// }

// js制御ができるまでの一時的な対応
.supports-sticky .Header--transparent {
  box-shadow: 0 -1px rgba(255, 255, 255, 0.25) inset;
  color: #ffffff;
}

// .supports-sticky .Search[aria-hidden=true]+.Header--transparent {
//   background: transparent;
// }
// js制御ができるまでの一時的な対応
.supports-sticky .Header--transparent {
  background: transparent;
}

// .supports-sticky .Search[aria-hidden="true"] + .Header--transparent .Header__LogoImage--primary:not(:only-child) {
//   opacity: 0;
// }

// .supports-sticky .Search[aria-hidden="true"] + .Header--transparent .Header__LogoImage--transparent {
//   opacity: 1;
// }

// js制御ができるまでの一時的な対応
// :not(:only-child)自体は純粋なCSSの機能です
.supports-sticky .Header--transparent .Header__LogoImage--primary:not(:only-child) {
  opacity: 0;
}

.supports-sticky .Header--transparent .Header__LogoImage--transparent {
  opacity: 1;
}

.Header {
  color: var(--header-heading-color);
  background: var(--header-background);
  box-shadow: 0 -1px var(--header-border-color) inset;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
// .supports-sticky .Search[aria-hidden="true"] + .Header--transparent .Header__Icon,
// .supports-sticky .Search[aria-hidden="true"] + .Header--transparent .HorizontalList__Item > .SelectButton,
// .supports-sticky .Search[aria-hidden="true"] + .Header--transparent .HorizontalList__Item > .Heading,
// .supports-sticky .Search[aria-hidden="true"] + .Header--transparent .Header__LogoLink > .Heading {
//   color: currentColor;
// }
// js制御ができるまでの一時的な対応
.supports-sticky .Header--transparent .Header__Icon,
.supports-sticky .Header--transparent .HorizontalList__Item > .SelectButton,
.supports-sticky .Header--transparent .HorizontalList__Item > .Heading,
.supports-sticky .Header--transparent .Header__LogoLink > .Heading {
  color: currentColor;
}

.Header__Icon .Icon--nav {
  width: 20px;
  height: 15px;
}

@media screen and (min-width: 641px) {
  .Header__Wrapper {
    padding: 18px 30px;
  }
}

.Header__Wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 18px;
}

.Header__FlexItem {
  display: flex;
}

.Header__FlexItem--fill {
  flex: 1 0 0;
  align-items: center;
}

.Header__FlexItem--fill:last-child {
  justify-content: flex-end;
}

.Header__Icon {
  display: inline-block;
  line-height: 1;
  transition: color 0.2s ease-in-out;
}

.Header__LogoLink,
.Header__LogoImage {
  display: block;
}

.Header__Logo {
  position: relative;
  margin-bottom: 0;
}

.Header__LogoLink {
  text-align: center;
}

.Header__LogoImage {
  max-width: 100%;
}

.Header__LogoImage {
  margin: 0 auto;
  transition: opacity 0.3s ease-in-out;
}

.Header__Icon span {
  display: block;
}

.Header__Icon .Icon--cart-desktop {
  width: 19px;
  height: 23px;
}

.Header__LogoImage--transparent {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}
